<!DOCTYPE html>
<html>
<head>
  <title>Your Passwords</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
  <center>
    <h2>Your Passwords</h2>
    <table border="1">
      <tr>
        <th>Service</th>
        <th>Password</th>
      </tr>
      {% for service, password in passwords.items() %}
      <tr>
        <td>{{ service }}</td>
        <td>{{ password }}</td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <a href="/">Go Back</a>
  </center>
</body>
</html>
